<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi carga de datos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <div id="myPag" class="container-fluid">
        <div class="container">
            <template v-if="show_form_singIn">
                <form id="signIn" v-on:submit.prevent>
                    <h2>Iniciar Sesión</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" v-model="login.id" placeholder="Usuario">
                    </div>
                    <div class="form-group">    
                        <input type="password" class="form-control" v-model="login.password" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block" v-on:click="signIn()" value="Iniciar Sesión">
                    </div>
                </form>
            </template>
        </div>
        <div class="container">
            <form id="newData" v-on:submit.prevent>
                <h2>Carga de contenido</h2>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="post.tag" placeholder="Tipo de Dato">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="post.title" placeholder="Título">
                </div>
                <div class="form-group">
                    <textarea class="form-control" v-model="post.content" cols="30" rows="10" placeholder="Contenido"></textarea>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="post.image" placeholder="Imagen">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="post.data1" placeholder="Data 1">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="post.data2" placeholder="Data 2">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="post.data3" placeholder="Data 3">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" v-on:click="createData()" value="Enviar">
                </div>
            </form>
        </div>
        <div class="container" v-if="mydata!=null">
            
            <template  v-for="item in mydata.Lenguajes">
                <div>
                    <p>{{item.content}}</p>
                    <form v-on:submit.prevent>
                        <input v-on:click="updateData(item.id, item.tag)" type="submit" value="Editar">
                        <input v-on:click="deleteData(item.id, item.tag)" type="submit" value="Eliminar">
                    </form>    
                </div>

            </template>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@2.5.8/dist/vue.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
<script src="index.js"></script>
</html>