<template>
	<form class="appform-form" v-on:submit.prevent method="POST" enctype="multipart/form-data">
		<div class="appform-container">
			<h2>Formulario de Postulación</h2>
			<div class="appform-inputs">
				<input class="appform-input" required type="text" v-model="name" placeholder="Nombre" spellcheck="false" aria-required="true"/>
				<template v-if="nameFlag">
					<span class="text-warning">{{nameFlag}}</span>
				</template>
				<input class="appform-input" required type="email" v-model="email" placeholder="Email" spellcheck="false" aria-required="true"/>
				<template v-if="emailFlag">
					<span class="text-warning">{{emailFlag}}</span>
				</template>
				<input class="appform-inputfile" required type="file" @change="upload_file($event)" name="workfile" placeholder="Tu CV" spellcheck="false" aria-required="true">
				<template v-if="fileFlag">
					<span class="text-warning">{{fileFlag}}</span>
				</template>
				<textarea v-model="message" required placeholder="Mensaje" spellcheck="false" class="appform-textarea"></textarea>
				<template v-if="messageFlag">
					<span class="text-warning">{{messageFlag}}</span>
				</template>
			</div>
			<input type="submit" class="appform-submit" v-on:click="send_email()"/>
			<p>{{messageForm}}</p>
		</div>
	</form>
</template>

<script>
import axios from 'axios'

export default {
  data(){
      return{
		name: '',
		email: '',
		file: '',
		message: '',
		showNav: false,
		host : "/dist/main.php",

		//Flags
		nameFlag: '',
		emailFlag: '',
		messageFlag: '',
		fileFlag: '',

		//Message Form
		messageForm: '',

      }
  	},
  	watch: {

		name: function(){
			this.nameFlag = this.minimum_ten_caracters(this.name)
		},

		email: function(){		
			this.emailFlag = this.validate_email(this.email)		  
		},
		  
		message: function(){
			this.messageFlag = this.minimum_fifty_caracters(this.message)
		},

  	},
  	methods: {

	  	validate_email: function(email){
			let emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
			return (emailRegex.test(this.email))? false : 'El correo ingresado no tiene el formato correcto.'
		},

		minimum_ten_caracters: function(text){
			return (text.length>10)? false : `Ingrese ${11 - text.length} carácteres más.`
		},

		minimum_fifty_caracters: function(text){
			return (text.length>50)? false :  `Ingrese ${51 - text.length} carácteres más.`
		},

		send_email: function(){

			if(!this.nameFlag && !this.emailFlag && !this.messageFlag) {
                this.messageForm = 'Enviando, espere un momento'    
            } else {
                return this.messageForm = 'Debe completar todos los campos correctamente'
            }

			const data = new FormData()
			data.append('name',  this.name)
			data.append('email', this.email)
			data.append('message', this.message)
			data.append('file', this.file)
			
			axios({
				method: 'POST',
				url: this.host,
				data: data,
			})
				.then(response => {
					this.messageForm = response.data.message
				})
				.catch(error => {
					this.messageForm = 'Ha ocurrido un error.'
					console.log('Error:')
					console.log(error)
				})

		},

		upload_file: function(event){
			this.file = event.target.files[0]
			let pdf = new RegExp('.pdf')
			let word = new RegExp('.docx')
			let exp = new RegExp('[ñÑáéíóúÁÉÍÓÚ]+')
			let max_size = 6 * 1024 * 1024

			if(this.file.size < max_size){

				this.fileFlag = false
			} else {

				this.fileFlag = 'Peso máximo del archivo es de 6mb.'
				return
			}	

			if(pdf.test(this.file.name) || word.test(this.file.name)){
				this.fileFlag = false
			} else {

				this.fileFlag = 'Se admite archivos .pdf y .word'
				return
			}

			if(!exp.test(this.file.name)){
				this.fileFlag = false
			} else {

				this.fileFlag = 'Se admite archivos con nombres sin carácteres especiales como tildes (´).'
				return
			}
				
		}
  	}
}
</script>